@model List<string>

<h1>Exemplo de busca com Longest Common Subsequence (LCS)</h1>
@using (Html.BeginForm("LCS", "Functions"))
{
    <input type="text" name="word" autofocus />
    <button type="submit">Search</button>
}
@foreach (var item in Model)
{
    <text>@item</text>
    <br />
}