@{
    ViewBag.Title = "Index";
}

<h1>Lista de funções do FunctionsNET</h1>
<ul>
    <li>
        <a href="@Url.Action("Index","Thumbnail")">Thumbnail</a>
    </li>
    <li>
        <a href="@Url.Action("Index","Search")">Search LCS</a>
    </li>
</ul>