@{
    ViewBag.Title = "Crop";
}

<a href="@Url.Action("Index","Extension")">< Voltar</a>

<h3>Crop</h3>
Width: 800px
<br />
Height: 400px
<br />
Position
<br />
X: 500px
<br />
Y: 700px
<br />
<img src="~/Handlers/CropHandler.ashx">