
@{
    ViewBag.Title = "Extension String Samples";
}
<a href="/">< Voltar</a>
<h1>Extension Samples</h1>
<hr />
<ul>
    <li>
        <a href="@Url.Action("StringSample","Extension")">URL Friendly</a>
    </li>
    <li>
        <a href="@Url.Action("ValidationEmail","Extension")">Validation Email</a>
    </li>
</ul>