
@{
    ViewBag.Title = "Extension String Samples";
}
<a href="/">< Voltar</a>
<h1>Extension Samples</h1>
<hr />
<ul>
    <li><h3>String</h3></li>
    <li>
        <a href="@Url.Action("StringSample","Extension")">URL Friendly</a>
    </li>
    <li>
        <a href="@Url.Action("ValidationEmail","Extension")">Validation Email</a>
    </li>
    <li>
        <a href="@Url.Action("ValidationUrl","Extension")">Validation Url</a>
    </li>
    <li><h3>Image</h3></li>
    <li>
        <a href="@Url.Action("Crop","Extension")">Crop Image</a>
    </li>
</ul>