
@{
    ViewBag.Title = "Extension String Samples";
}
<a href="/">< Voltar</a>
<h1>Extension Samples</h1>
<hr />
<ul>
    <li>
        <a href="@Url.Action("String","Extension")">String Extension</a>
    </li>
</ul>
