@{
    ViewBag.Title = "String SLUG";
}


<h3>URL Friendly</h3>
<hr />
<h3>Example</h3>

<div>
    <h4>URL</h4> <i>@ViewBag.URL</i>
</div>
<div>
    <h4>URL with Slug</h4> <i>@ViewBag.URLSLUG</i>
</div>
