<a href="/">< Voltar</a>
<h1>Exemplo de Thumbnail Normal, com efeito sepia e efeito GrayScale</h1>
<label>
    <b>Normal</b>
    <img src="~/Handlers/ThumbnailHandler.ashx" />
</label>
<br />
<label>
    <b>Sepia</b>
    <img src="~/Handlers/ThumbnailHandler.ashx?effect=sepia" />
</label>
<br />
<label>
    <b>Gray Scale</b>
    <img src="~/Handlers/ThumbnailHandler.ashx?effect=grayscale" />
</label>