<label>
    <b>Normal</b>
    <img src="~/Handlers/ThumbnailHandler.ashx" />
</label>
<br />
<label>
    <b>Sepia</b>
    <img src="~/Handlers/ThumbnailHandler.ashx?effect=sepia" />
</label>
<br />
<label>
    <b>Gray Scale</b>
    <img src="~/Handlers/ThumbnailHandler.ashx?effect=grayscale" />
</label>